body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg {
  background: url(/static/media/bg.a5e3913c.jpg);
  height: calc(100% - 24px);
  width: 100vw;
  max-width: 100vw;
  background-size: cover;
  position: absolute;
  /* top: -15px;*/
}

.buttonsContainer {
  /* width: 50%; */
  margin: 0 auto;
  /* color: white; */
}

.acc-buttons {
  z-index: 100;
}

.main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containezr {
  background: rgba(0, 0, 0, 0.7);
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
}

.containezr a,
.containezr span {
  color: white;
}

@media (max-width: 500px) {
  .mainTitle {
    font-size: 2rem;
  }

  .containezr {
    width: 90%;
  }
}

.containezr input {
  border: 1px solid white;
}

.containezr button:hover {
  color: black;
}

.searchComponent {
  /* position: absolute; */
  top: 105vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 80%;
}
